page-page1 {
    .spinner-container {
        width: 100%;
        text-align: center;
        
		
    }

	.searchContainer {
		width: 85%;
		text-allign:center;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
}
