<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page One</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<h3>Ionic Menu Starter</h3>
 
	
	<div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
	
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
	<ion-list inset no-lines class="searchContainer">
        <ion-item *ngFor="let item of items" (click)="itemSelected(item)">
            {{item.name}}
        </ion-item>
    </ion-list>
	
	<button ion-button color="light" (click)="male()" round>Male</button>
	<button ion-button color="light" (click)="female()" round>Female</button>

	
</ion-content>
